.btn-circle{
    --radius:15px;
    width: calc(var(--radius)*2);
    height: 30px;
    border-radius: var(--radius);

}

.btn-main{
    background-color: var(--color-base-7);
    padding: 8px 20px;
    border: 0;
    color: var(--color-base-0);
    font-weight: bold;
    border-radius: var(--radius-5);
}

.btn-type\:circle{
   --icon-size: var(--icon-size-1);
    padding: 7px;
    border-radius: 50%;
    box-sizing: content-box;
}

.btn-disable{
    background-color: var(--color-base-5);
}

.btn-reverse{

}

@media (min-width: 768px) {
    .md\:btn-type\:square{
        border-radius: 0;
    }
}