/* 

html이 가진 기본 스타일이 있는게 그게 마음에 안들어서 
오버라이딩, 캐스캐이딩 하는 거야. 
재정의 하는 거니까
태그명으로 오버라이딩 하는 거야!!!!!! 


기존 스타일 뭉개고 몇개만 살려서 쓰는
*/

/* html이랑 body 공통으로 높이 정함.
둘을 하나로 묶어서 100%의 범위를 갖게 */

html
, body{

    height: 100%;

}

body{

    font-family: 'Noto Sans KR', sans-serif;
    font-size: 14px;
    color: var(--color-base-9);
    
    display: flex;
    flex-direction: column; /* 방향성 바꾸기  */
    
}

main{
    flex-grow: 1;
}
