<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
				xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
				layout:decorate="~{include/layout.html}">
<head>
<meta charset="UTF-8">
	<meta charset="UTF-8"
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="/css/reset.css" rel="stylesheet" type="text/css">
    <link href="/css/root.css" rel="stylesheet" type="text/css">
    <link href="/css/style.css" rel="stylesheet" type="text/css">
    <link href="/css/components/layout.css" rel="stylesheet" type="text/css">
    <title>document</title>
</head>
<body>
	<main layout:fragment="main">
		detail page
		<a href="/index">홈</a>
		<a href="/menu/list">메뉴목록</a>
	</main>
</body>
</html>