.unique-menu{
    background-color: rgba(24, 22, 20, 1);
}

.unique-menu 
    .card{
        text-align: left;
        padding: 30px 30px ;
    }  

.unique-menu 
    .card
        span{
            color: rgba(216, 98, 89, 1);
        }

.unique-menu 
    .card\:center
            span{
                color: rgba(212, 135, 0, 1);
            }
        
.unique-menu 
   .card\:right
            span{
                color: rgba(148, 72, 19, 1);
            }


.unique-menu 
    .card
        h1{
            font-size: 24px;
            font-weight: 700;
            line-height: 32.69px;
            color: rgba(226, 226, 226, 1);
        }   

.unique-menu 
    .card
        p{
            font-size: 14px;
            font-weight: 400;
            line-height: 21px;
            color: rgba(226, 226, 226, 1);
            margin-top: 8px;
}

.unique-menu 
    .card
        img{
            min-width: 240px;
            min-height: 180px;
            margin-top: 24px;
        }

/* ---------------- 반응형 ---------------*/
@media (min-width: 700px) {
    .unique-menu{

    }

    
    .unique-menu
        .card
            img{    
                min-width: 370px;
                min-height: 305px;
                /* margin-top: 24px; */
        }

}
